mkdocs==1.5.3
mkdocs-material==9.5.33
pygments
plantuml-markdown==3.9.2
mkdocs-same-dir==0.1.3
mkdocs-roamlinks-plugin==0.3.2
mkdocs-exclude==1.0.2
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-rss-plugin==1.8.0
material-plausible-plugin==0.2.0
